<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825645594978-kenabd0b1oj11u7gqpga5ome9n1332sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825645594978-kenabd0b1oj11u7gqpga5ome9n1332sk</string>
	<key>API_KEY</key>
	<string>AIzaSyDgZzUzIaF_RWNAkcRNruWPvCzOx8NLtE4</string>
	<key>GCM_SENDER_ID</key>
	<string>825645594978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aybDatabase</string>
	<key>PROJECT_ID</key>
	<string>ayb-database-28aee</string>
	<key>STORAGE_BUCKET</key>
	<string>ayb-database-28aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825645594978:ios:6ed5a75f2a7908b5f9943b</string>
</dict>
</plist>